@(expertise: models.Field_Of_Expertise)

@level_of_interest_button(value: String, name: String) = {
    <div>
        <input type="radio" name="level_of_interest" value="$value">
        <span>@name</span>
    </div>
}

<div>
    <div style="font-weight: bold">@expertise.name</div>
    <form>
        <input type="hidden" id="expertise_id" value="@expertise.id">

        @level_of_interest_button("some_expertise", "I have some level of expertise in this topic")
        @level_of_interest_button("interested", "I am interested in developing myself in this topic")
        @level_of_interest_button("sympathise", "I sympathise with this topic, even if I may not be interested in developing myself in this topic")
        @level_of_interest_button("no_interest", "I am not (much) interested in this topic")
    </form>
    <br>
</div>