@(expertises: Seq[models.FormItem], nq_projects: Seq[models.FormItem])

@main("Expertises Form"){
    <script src="assets/ts/util.js"></script>
    <script src="assets/ts/expertises.js"></script>
    <script src="assets/ts/form.js"></script>
}{
    @navigation_bar()
    @for(project <- nq_projects) {
        @expertise(project)
    }

    @for(expertise_data <- expertises) {
        @expertise(expertise_data)
    }

    @if(expertises.isEmpty && nq_projects.isEmpty) {
        <p>You have nothing more to fill in</p>
    }

    <div id="status">No changes</div>
    <button id="submit">Submit</button>
    <button id="submit_and_next">Submit and next questions</button>
}

